@import "./global.css";
.user__github:hover,
.user__instagram:hover,
.user__linkedin:hover,
.user__mentor:hover,
.user__twitter:hover {
  background-color: #c4f82a;
  color: #333;
}

body {
  background-color: #010101;
}

.card {
  margin: auto;
  max-width: 384px;
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 4rem;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffff;
}

.user__avatar {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

.user__github,
.user__mentor {
  background-color: #333;
  border-radius: 8px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
}

.user__name {
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 600;
  padding: 2.4rem 0 0.5rem;
}

.user__country {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #c4f82a;
  font-weight: 700;
}

.user__profession,
.user__social-links a {
  color: #ffff;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.user__profession {
  font-weight: 400;
  padding: 2.4rem 0;
}

.user__social-links {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: auto 1.6rem auto 1.6rem auto 1.6rem auto 1.6rem auto;
  grid-template-areas: "user__github" "user__mentor" "user__linkedin" "user__twitter" "user__instagram";
  -ms-grid-columns: 304px;
  grid-template-columns: 304px;
  gap: 1.6rem;
}

.user__social-links a {
  font-weight: 700;
  text-align: center;
}

.user__github {
  padding: 12px 127.5px;
  transition: 0.4s;
}

.user__mentor {
  padding: 12px 94.5px;
  transition: 0.4s;
}

.user__linkedin,
.user__twitter {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  background-color: #333;
  border-radius: 8px;
}

.user__linkedin {
  padding: 12px 122.5px;
  transition: 0.4s;
}

.user__twitter {
  padding: 12px 127px;
  transition: 0.4s;
}

.user__instagram {
  background-color: #333;
  padding: 12px 117px;
  border-radius: 8px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
